#simpleNumbers {
    width: 200px;
    height: 100px;
}

#amountOfSimpleNumbers {
    width: 200px;
}

#submitButton {
    display: block;
    margin: 15px 0 23px;
}

#amountOfSimpleNumbers {
    display: block;
    margin-bottom: 15px;
}

#simpleNumbers {
    display: block;
}
